<section class="content bg-blue-grey">
  <div class="container-fluid">
    <h3 class="block-header">All Collections</h3>
  </div>
  <div class="row .clearfix">
    <div class="col-xs-12">
      <div class="card">
        <div class="header">
          <h2>View All Collections <small>List of All Collections</small></h2>
          <ul class="header-dropdown m-r--5">
            <li>
              <a href="javascript:void(0)"></a>
            </li>
          </ul>
        </div>
        <div class="body">
          <div class="col-sm-6">
            <cp-collection-list></cp-collection-list>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
</section>
