<section class="content bg-blue-grey">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>CREATE A COLLECTION</h2>
          </div>
          <div class="body">
            <form id="form_validation" (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" name="title" ngModel required>
                  <label class="form-label">Collection Title</label>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <textarea rows="4" name="description" ngModel class="form-control auto-growth no-resize" required></textarea>
                  <label class="form-label">Enter The Collection Description</label>
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<div class="form-line">-->
                  <!--<input type="file" id="collectionCover" ngModel class="form-control" name="collectionCover" style="opacity: 0; cursor: pointer;" (change)="createFormData(coverInput,$event, false)"  #coverInput>-->
                  <!--<label for="collectionCover" class="form-label" style="cursor: pointer;">Choose the Collection Cover Image (Click on the Text)</label>-->
                <!--</div>-->
                <!--<h5>{{collectionCoverImage}}</h5>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<div class="form-line">-->
                  <!--<input type="file" id="productImages" ngModel class="form-control" name="productImages" style="opacity: 0; cursor: pointer;" (change)="createFormData(fileInput,$event, true)" multiple #fileInput>-->
                  <!--<label for="productImages" class="form-label" style="cursor: pointer;">Choose the Product Images (Click on the Text)</label>-->
                <!--</div>-->
                <!--<h5>{{productImagesLabel}}</h5>-->
              <!--</div>-->
              <div class="form-group form-float">
                <div class="form-line">
                  <input
                    type="text"
                    name="price"
                    ngModel
                    required
                    class="form-control"
                    pattern="^\d{0,8}(\.\d{1,4})?$"
                  >
                  <label class="form-label">Price*</label>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" name="discount" ngModel pattern="^\d{0,8}(\.\d{1,4})?$">
                  <label class="form-label">Discount %</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-line">
                  <p>Delivery Location Type</p>
                  <select class="form-control show-tick" ngModel name="shippingAvailability">
                    <option value="Local">Local</option>
                    <option value="Global">Global</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <textarea class="form-control no-resize" rows="4" name="storeAddress" ngModel required #add="ngModel" (keypress)="log(f)"></textarea>
                  <label class="form-label">Retail Outlet Addres</label>
                </div>
              </div>
              <div class="form-group">
                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">I have read and accept the <a href="javascript:void(0);">terms</a></label>
              </div>
              <button class="btn btn-primary waves-effect" type="submit" [ngClass]="{'hidden': !buttonActive}" [disabled]="!buttonActive">CREATE NEW</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
